@font-face {
  font-family: "font-1";
  src: url(./assets/font/Oswald-Medium.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/font/Rubik-Medium.ttf);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.header {
  display: flex;
  flex-direction: column;
  background: url(../public/blurry-gradient-haikei.png) no-repeat center/cover;
  align-items: center;
}
.header img {
  padding: 10px;
  width: 100px;
  height: 150px;
}
.header h1{
  color: white;
  font-family: "font-1";
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}
.navigation ul{
  display: flex;
  margin: 30px;
}
.navigation a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "font-2";
}
.navigation a:hover {
  color: black;
}
.navigation li {
  list-style: none;
  cursor: pointer;
}
.nav-active {
  position: relative;
}
.first-link::after {
  content: "";
  height: 4px;
  width: 0;
  background: linear-gradient(to right, rgb(31, 52, 143), rgb(0,177,237), rgb(113,183,51));
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}

.second-link::after {
  content: "";
  height: 4px;
  width: 0;
  background: linear-gradient(to right, rgb(231,0,23), rgb(231,75,116), rgb(255,205,4)); /* Dégradé différent */
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation: anim 0.6s ease forwards;
}
.btntoggledark {
  margin: 10px 2px 0;
  height: 25px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}
.btntoggledark:hover{
  /* background-color: rgb(71, 68, 68); */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour la profondeur */
  transform: translateY(-2px); /* Légère élévation pour un effet de "levée" */
}
.btntogglelight {
  margin: 10px 2px 0;
  height: 25px;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}
.btntogglelight:hover{
  background: rgb(240, 236, 236);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour la profondeur */
  transform: translateY(-2px); /* Légère élévation pour un effet de "levée" */
}
@keyframes anim {
  to {
    width: 100%;
  }
}
.dark{
  background-color: #181717;
  color: white;
}
.athlete_section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.medal-count{
  /* border: 1px solid red; */
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.filter_section{
  display: flex;
  flex-direction: column;
  /* border: red solid 1px; */
  margin: 0px 0 20px;
}
#togglebtnfilter span {
  display: flex;
  align-items: center;
  gap: 8px; 
}
#togglebtnfilter {
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  color: inherit;
  margin: 15px 0 20px;
  border: 1px solid black;
  transition: all 0.3s ease;
}
#togglebtnfilter:hover {
  /* background: #f0e6d6;  */
  border-color: #333; 
  border-radius: 8px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour la profondeur */
  transform: translateY(-2px); /* Légère élévation pour un effet de "levée" */
}

input[type="search"]{
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: 1px 2px 10px 1px rgba(128, 128, 128, 0.5);
}
#sports{
  margin: 20px auto;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 2px 10px 1px rgba(128, 128, 128, 0.5);

}
#cancelbtn {
  height: 30px;
  width: 200px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 20px;
}
#cancelbtn:hover {
  background-color: rgb(77,171,225);
  color: white;
}

/* Styles pour les cercles des médailles */
.circle {
  display: inline-block;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    line-height: 25px; /* Doit être égal à la hauteur pour centrer verticalement */
    text-align: center; /* Centre le texte horizontalement */
    margin-right: 3px; /* Espacement entre le cercle et l'input */
}
.medal-input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: red solid 1px; */
  
}
/* Couleur pour la médaille d'or */
.gold {
  background-color: #FFD700; /* Couleur or */
}

/* Couleur pour la médaille d'argent */
.silver {
  background-color: #C0C0C0; /* Couleur argent */
}

/* Couleur pour la médaille de bronze */
.bronze {
  background-color: #CD7F32; /* Couleur bronze */
}

/* Alignement des labels et des checkboxes */


input[type="checkbox"] {
  margin-right: 15px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#a-card{
  color: black;
  text-decoration: none;
}
.card{
  box-shadow: 1px 2px 10px 1px rgba(128, 128, 128, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
}
.card #photo_athlete {
  width: 225px;
  height: 250px;
  object-fit: cover;
}
.card .description_card {
   display: flex;
   flex-direction: column;
  justify-content: center;
}
.card .description_card p:first-child {
font-weight: 600;
}

.card .description_card p{
  text-align: center;

}
.card .container_medal {
 display: flex;
 justify-content: center;
 padding: 2px 0;
}
.btncoeur {
  border: none;
  background: none;
  font-size: 27px;
  color: rgb(230, 11, 11);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btncoeur.vide img {
  height: 25px; /* Taille de l'image */
  transition: transform 0.2s ease-in-out;
}

#btncoeurvide:hover {
  transform: scale(1.1); /* Agrandissement de l'image au hover */
}

.plein {
  color: rgb(230, 11, 11); /* Couleur pour le cœur plein */
}

.btncoeur:hover {
  transform: scale(1.1); /* Effet de mise à l'échelle au survol pour le bouton */
}

.btn_card {
  margin: 10px 2px 0;
  height: 25px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
}
.delete{
  background: black;
  color: white;
}
.delete:hover {
  background: rgb(83, 77, 77);
}
.edit {
background: white;
}
.edit:hover{
  background: rgb(240, 236, 236);
}
.confirm {
  background: green;
  /* border: none; */
  color: white;
}
.confirm:hover{
  background: rgb(5, 175, 5);
}
input[type="number"] {
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  height: 20px;
  border-radius: 5px;
}
input[type="number"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.form-container h1{
  padding: 25px;
}
.form_ajout {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

label {
  display: block;
  color: #555;
}

.form_ajout input[type="text"], input[type="number"], select {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
  background-color: #218838;
}
option {
  padding: 10px;
}

.titre-favoris {
  font-family: "font-1";
  color:rgb(31, 52, 143);
  padding: 15px 0;
  text-align: center;
}
.flex-athlete {
  display: flex;
  flex-wrap: wrap;
}
.img-container{
  width: 50%;
}
.img-container img {
  width: 100%;
}